 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>
 <% if @user.has_posts? %>
 <h2>Posts</h2>
 <%= render @user.posts %>
 <% else %>
 <%= @user.name %> has not submitted any posts yet.
 </br>
 <% end %>
 <% if @user.has_comments? %>
  <h2>Comments</h2>
  <%= render @user.comments %>
 <% else %>
  <%= @user.name %> has not submitted any comments yet.
 <% end %>
 <h3>Favorite Posts</h3>
 <% if @user.has_any_favorites? %>
  <div class="row">
    <div class="col-md-8">
     <% @user.favorites.each do |favorite| %>
       <div class="media">
        <br />
        <% avatar_url = favorite.post.user.avatar_url(64) %>
        <% if avatar_url %>
          <div class="media-left">
            <%= image_tag avatar_url, class: 'media-object' %>
          </div>
        <% end %>
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to favorite.post.title, topic_post_path(favorite.post.topic, favorite.post) %>
          </h4>
          <small>
            <%= pluralize(favorite.post.votes.count, 'vote') %>,
            <%= pluralize(favorite.post.comments.count, 'comment') %>
          </small>
        </div>
       </div>
      <% end %>
    </div>
  </div>
 <% else %>
  <%= @user.name %> has not favorited any posts yet.
 <% end %>